body{
    margin: 0;
    background-color: lightcyan;
    color: darkgreen;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.contenor{
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
}
.heder{
    margin: 5px;
    font-size: 30px;
}
.emoji-contener{
    display: flex;
    padding: 20px 0px;
}
.emoji-image{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}
.emoji-image:hover,
.emoji-image.active
{
    background: darkseagreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: aliceblue ;
    transition: all 400ms ease;
}
.emoji-contener img{
    width: 40px;
}
.btn{
    background-color: darkcyan;
    color: aliceblue;
    border: none;
    margin: 10;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}
.btn:active{
    transform: scale(0.9);
}
